@model IEnumerable<MusicShop.Models.Song>

@{
    ViewData["Title"] = "Browse Music";
}

<h2>Browse Music</h2>

<div class="row">
    <div>
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label class="control-label">Genre:</label>
                        </td>
                        <td>
                            <select class="form-control" style="width:250px" asp-items="ViewBag.GenreID" name="genreID">
                                <option value="">All</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br />
                    <input type="submit" value="Filter Artists" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <br />
                    <table>
                        <tr>
                            <td>
                                <label class="control-label">Artist:</label>
                            </td>
                            <td>
                                <select class="form-control" style="width:250px" asp-items="ViewBag.ArtistId" name="artistId">
                                    <option value="">All</option>
                                </select>
                            </td>
                            </tr>
                    </table>
            </div>
            <br />
                <input type="submit" value="Filter Songs" class="btn btn-primary" />
            </form>
            </div>
            <br />
            <form asp-action="AddToCart">
                <table class="table bg-white bg-opacity-50">
                    <thead>
                        <tr>
                            <th>
                                Select
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Artist)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Format)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="border-secondary">
                                <td>
                                    <input type="checkbox" id="@(Html.DisplayFor(modelItem => item.SongId))" data-song-id="@item.SongId"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Format)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            <button type="button" onclick="submitSelectedSongs()" class="btn btn-primary">Add to Shopping Cart</button>
            @* <input type="submit" value="Add to Cart" /> *@
        </form>
    </div>
</div>

<script>
    function submitSelectedSongs() {
        var selectedSongs = [];

        // Find all checked checkboxes and extract the data-song-id attribute
        $(':checkbox:checked').each(function () {
            selectedSongs.push($(this).data('song-id'));
        });

        // Perform any additional logic or validation if needed

        // Send the selectedSongs array to the server using AJAX
        $.ajax({
            type: 'POST',
            url: 'ShoppingCarts/AddToCart',
            data: { selectedSongs: selectedSongs },
            traditional: true, // Use traditional serialization for arrays
            success: function (data) {
                // Go to Checkout page
                window.location.href = '/Checkout';
            },
            error: function (error) {
                // Reload the page
                window.location.href = '/BrowseMusic';
            }
        });
    }
</script>

