@model IEnumerable<MusicShop.Models.ShoppingCart>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
<th>
                @Html.DisplayNameFor(model => model.Song.Artist)
            <th>
                @Html.DisplayNameFor(model => model.Song.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Song.Artist.ArtistName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Song.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
}
    </tbody>
</table>
